<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464570240319-0tsktbhqvqiv8ra5atr3vujacj2nj1ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464570240319-0tsktbhqvqiv8ra5atr3vujacj2nj1ph</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>464570240319-b1kv4ce6ke1gj8529ngo2epavs2q8rjc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAF_Rt68JMDgEdnin2EwL72AlNLfHWfzYs</string>
	<key>GCM_SENDER_ID</key>
	<string>464570240319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gaamride.gaamride</string>
	<key>PROJECT_ID</key>
	<string>gaamride</string>
	<key>STORAGE_BUCKET</key>
	<string>gaamride.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464570240319:ios:02982a1567df85f3dc978a</string>
</dict>
</plist>